Resources/Editor/QuickStarts/Parsers/XML/SimpleSchema/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="kokosevent" xmlns:kok="kokosevent" elementFormDefault="qualified">

<element name="formatierung" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable" />


<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable">
	<all>
		<element name="spaltengruppierung" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungSpaltenFormat" minOccurs="0" maxOccurs="1"/>
		<element name="formate" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Format___format"  minOccurs="0" maxOccurs="1" />
	</all>
</complexType>


<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungSpaltenFormat">
	<all>
		<element name="spalten" type="kok:System_Collections_Generic_List_1__HG_Tools_AsposeReport_Framework_Logic_FormatXML_FormatGruppierungSpaltenBaseRPT_3_plus_SpalteBase__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungTyp___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungFeld_____spalte"  minOccurs="0" maxOccurs="1" />
		<element name="rahmen_horizontal_trenner_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_trenner_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_erste_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_erste_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_letzte_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_letzte_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_links_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_links_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_rechts_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_rechts_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
	</all>
	<attribute name="colortype" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungCellColorType"/>
	<attribute name="colorbacksamstag" type="string"/>
	<attribute name="colorbacksonntag" type="string"/>
	<attribute name="colorbackfeiertag" type="string"/>
	<attribute name="colorforesamstag" type="string"/>
	<attribute name="colorforesonntag" type="string"/>
	<attribute name="colorforefeiertag" type="string"/>
	<attribute name="sortierung" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungSortierung"/>
	<attribute name="typ" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungTyp"/>
	<attribute name="leereanzeigen" type="boolean"/>
</complexType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungTyp">
	<restriction base="string">
		<enumeration value="TerminDatum"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungSortierung">
	<restriction base="string">
		<enumeration value="Beginn"/> 
		<enumeration value="RaumBeginn"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungCellColorType">
	<restriction base="string">
		<enumeration value="KeineEinfaerbung"/> 
		<enumeration value="SamstagSonntagFeiertag"/> 
	</restriction>
</simpleType>


<complexType name="System_Collections_Generic_List_1__HG_Tools_AsposeReport_Framework_Logic_FormatXML_FormatGruppierungSpaltenBaseRPT_3_plus_SpalteBase__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungTyp___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungFeld_____spalte">
	<sequence>
		<element name="spalte" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_FormatGruppierungSpaltenBaseRPT_3_plus_SpalteBase__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungTyp___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungFeld__" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Tools_AsposeReport_Framework_Logic_FormatXML_FormatGruppierungSpaltenBaseRPT_3_plus_SpalteBase__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungTyp___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld___HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungFeld__">
	<all>
		<element name="felder" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld___feld"  minOccurs="0" maxOccurs="1" />
		<element name="rahmen_vertikal_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
	</all>
	<attribute name="insertat" type="integer"/>
	<attribute name="width" type="integer"/>
	<attribute name="header" type="string"/>
	<attribute name="headerstyle" type="string"/>
	<attribute name="headercolumnspan" type="integer"/>
	<attribute name="columnspan" type="integer"/>
</complexType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld___feld">
	<sequence>
		<element name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_GruppierungFeld">
	<all>
	</all>
	<attribute name="otherfeld" type="string"/>
	<attribute name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungFeld"/>
	<attribute name="uppercase" type="boolean"/>
	<attribute name="separatorbefore" type="string"/>
	<attribute name="textbefore" type="string"/>
	<attribute name="textafter" type="string"/>
	<attribute name="lineBreakType" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="lineBreakTypeBefore" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="emptyReplacement" type="string"/>
	<attribute name="formatdatum" type="string"/>
	<attribute name="trennerliste" type="string"/>
	<attribute name="style" type="string"/>
	<attribute name="fontname" type="string"/>
	<attribute name="fontsize" type="double"/>
	<attribute name="fontbold" type="boolean"/>
	<attribute name="fontitalic" type="boolean"/>
	<attribute name="fontunderlinetype" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_FontUnderlineTypeRPT"/>
	<attribute name="tabwidth" type="integer"/>
	<attribute name="tabalignment" type="kok:Aspose_Words_TabAlignment"/>
	<attribute name="feldname" type="string"/>
	<attribute name="repeatSame" type="boolean"/>
</complexType>


<simpleType name="Aspose_Words_TabAlignment">
	<restriction base="string">
		<enumeration value="Left"/> 
		<enumeration value="Center"/> 
		<enumeration value="Right"/> 
		<enumeration value="Decimal"/> 
		<enumeration value="Bar"/> 
		<enumeration value="List"/> 
		<enumeration value="Clear"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Tools_AsposeReport_Framework_Data_1_0_FontUnderlineTypeRPT">
	<restriction base="string">
		<enumeration value="None"/> 
		<enumeration value="Single"/> 
		<enumeration value="Double"/> 
		<enumeration value="Thick"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType">
	<restriction base="string">
		<enumeration value="None"/> 
		<enumeration value="Always"/> 
		<enumeration value="IfNotEmpty"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminGruppierungFeld">
	<restriction base="string">
		<enumeration value="Leer"/> 
		<enumeration value="Newline"/> 
		<enumeration value="TerminDatum"/> 
		<enumeration value="Other"/> 
	</restriction>
</simpleType>


<complexType name="HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT">
	<all>
	</all>
	<attribute name="typ" type="kok:Aspose_Words_LineStyle"/>
	<attribute name="breite" type="double"/>
	<attribute name="farbe" type="string"/>
</complexType>


<simpleType name="Aspose_Words_LineStyle">
	<restriction base="string">
		<enumeration value="None"/> 
		<enumeration value="Single"/> 
		<enumeration value="Thick"/> 
		<enumeration value="Double"/> 
		<enumeration value="Hairline"/> 
		<enumeration value="Dot"/> 
		<enumeration value="DashLargeGap"/> 
		<enumeration value="DotDash"/> 
		<enumeration value="DotDotDash"/> 
		<enumeration value="Triple"/> 
		<enumeration value="ThinThickSmallGap"/> 
		<enumeration value="ThickThinSmallGap"/> 
		<enumeration value="ThinThickThinSmallGap"/> 
		<enumeration value="ThinThickMediumGap"/> 
		<enumeration value="ThickThinMediumGap"/> 
		<enumeration value="ThinThickThinMediumGap"/> 
		<enumeration value="ThinThickLargeGap"/> 
		<enumeration value="ThickThinLargeGap"/> 
		<enumeration value="ThinThickThinLargeGap"/> 
		<enumeration value="Wave"/> 
		<enumeration value="DoubleWave"/> 
		<enumeration value="DashSmallGap"/> 
		<enumeration value="DashDotStroker"/> 
		<enumeration value="Emboss3D"/> 
		<enumeration value="Engrave3D"/> 
		<enumeration value="Outset"/> 
		<enumeration value="Inset"/> 
	</restriction>
</simpleType>


<complexType name="HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT">
	<all>
	</all>
	<attribute name="typ" type="kok:Aspose_Cells_CellBorderType"/>
	<attribute name="farbe" type="string"/>
</complexType>


<simpleType name="Aspose_Cells_CellBorderType">
	<restriction base="string">
		<enumeration value="DashDot"/> 
		<enumeration value="DashDotDot"/> 
		<enumeration value="Dashed"/> 
		<enumeration value="Dotted"/> 
		<enumeration value="Double"/> 
		<enumeration value="Hair"/> 
		<enumeration value="MediumDashDot"/> 
		<enumeration value="MediumDashDotDot"/> 
		<enumeration value="MediumDashed"/> 
		<enumeration value="None"/> 
		<enumeration value="Medium"/> 
		<enumeration value="SlantedDashDot"/> 
		<enumeration value="Thick"/> 
		<enumeration value="Thin"/> 
	</restriction>
</simpleType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Format___format">
	<sequence>
		<element name="format" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Format" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Format">
	<all>
		<element name="zeilen" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Zeile___zeile"  minOccurs="0" maxOccurs="1" />
		<element name="rahmen_default_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_default_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_trenner_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_trenner_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_erste_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_erste_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_letzte_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_letzte_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_links_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_links_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_rechts_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_rechts_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_links_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_links_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_rechts_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_rechts_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_horizontal_oben_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_horizontal_oben_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_horizontal_unten_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_horizontal_unten_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
	</all>
	<attribute name="terminartids" type="string"/>
	<attribute name="terminartgruppeids" type="string"/>
	<attribute name="raumids" type="string"/>
	<attribute name="ortids" type="string"/>
	<attribute name="bezirkids" type="string"/>
	<attribute name="abgesagt" type="boolean"/>
	<attribute name="vorstellung" type="boolean"/>
	<attribute name="probe" type="boolean"/>
</complexType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Zeile___zeile">
	<sequence>
		<element name="zeile" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Zeile" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Zeile">
	<all>
		<element name="spalten" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Spalte___spalte"  minOccurs="0" maxOccurs="1" />
	</all>
</complexType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Spalte___spalte">
	<sequence>
		<element name="spalte" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Spalte" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Spalte">
	<all>
		<element name="felder" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Feld___feld"  minOccurs="0" maxOccurs="1" />
		<element name="rahmen_vertikal_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_vertikal_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_header_vertikal_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_word" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderWordRPT" minOccurs="0" maxOccurs="1"/>
		<element name="rahmen_horizontal_excel" type="kok:HG_Tools_AsposeReport_Framework_Logic_TableRPT_TableCellBorderExcelRPT" minOccurs="0" maxOccurs="1"/>
	</all>
	<attribute name="colortype" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminEinfaerbungTyp"/>
	<attribute name="colorrgb" type="string"/>
	<attribute name="width" type="integer"/>
	<attribute name="header" type="string"/>
	<attribute name="headerstyle" type="string"/>
	<attribute name="headercolumnspan" type="integer"/>
	<attribute name="columnspan" type="integer"/>
</complexType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminEinfaerbungTyp">
	<restriction base="string">
		<enumeration value="KeineEinfaerbung"/> 
		<enumeration value="Terminart"/> 
		<enumeration value="Raum"/> 
		<enumeration value="Produktion"/> 
		<enumeration value="Terminstatus"/> 
		<enumeration value="Planungsstatus"/> 
		<enumeration value="RGB"/> 
	</restriction>
</simpleType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Feld___feld">
	<sequence>
		<element name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Feld" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormateTable_plus_Feld">
	<all>
		<element name="ablauffelder" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFormatFeld___ablauffeld"  minOccurs="0" maxOccurs="1" />
		<element name="produktionfeld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatProduktionXML_ProduktionFormatFeld" minOccurs="0" maxOccurs="1"/>
	</all>
	<attribute name="formattermindatum" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Data_1_0_Data_TerminZeitpunktRPT_plus_FormatDatum"/>
	<attribute name="formatterminuhrzeit" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Data_1_0_Data_TerminZeitpunktRPT_plus_FormatUhrzeit"/>
	<attribute name="besetzungeninzeitabschnittenausgeben" type="string"/>
	<attribute name="formatabonnement" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_AbonnementAusgabe"/>
	<attribute name="showortbeiraumauswaerts" type="boolean"/>
	<attribute name="trennerortraum" type="string"/>
	<attribute name="raumausgabe_nur_spielstaetten" type="boolean"/>
	<attribute name="raumausgabe_nur_erster" type="boolean"/>
	<attribute name="formatterminart" type="string"/>
	<attribute name="formattermin" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminausgabeEnum"/>
	<attribute name="besetzungsausgabe_nurpublizierte" type="string"/>
	<attribute name="besetzungsausgabe_zeiten" type="boolean"/>
	<attribute name="kollektivausgabeeinteilungszustand" type="string"/>
	<attribute name="kollektivausgabe_nurpublizierte" type="boolean"/>
	<attribute name="formatkollektiv" type="string"/>
	<attribute name="kollektivids" type="string"/>
	<attribute name="tagesbemerkungdefinitionid" type="integer"/>
	<attribute name="ablaufartids" type="string"/>
	<attribute name="formatkalendertag" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_KalendertagAusgabeEnum"/>
	<attribute name="besetzungsfunktionIds" type="string"/>
	<attribute name="besetzungsgruppeIds" type="string"/>
	<attribute name="formatraum" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_RaumausgabeEnum"/>
	<attribute name="raumausgabe_auswaerts_adresse" type="boolean"/>
	<attribute name="raumausgabe_auswaerts_adresse_separator" type="string"/>
	<attribute name="formatnamensausgabe" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_PersonRendererFormatRPT"/>
	<attribute name="formatnamensausgabeindividuell" type="string"/>
	<attribute name="formatsaalplan" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_SaalplanAusgabeEnum"/>
	<attribute name="scriptplatzhalter" type="string"/>
	<attribute name="ausgabewert" type="boolean"/>
	<attribute name="ausgabeperson" type="boolean"/>
	<attribute name="platzhalter" type="string"/>
	<attribute name="separator" type="string"/>
	<attribute name="felddefinitionid" type="integer"/>
	<attribute name="besetzungsausgabe_rollebezeichnung" type="boolean"/>
	<attribute name="besetzungsausgabe_trennerrollebesetzung" type="string"/>
	<attribute name="besetzungsausgabe_trennerlistebesetzungen" type="string"/>
	<attribute name="besetzungsausgabe_nuraktive" type="boolean"/>
	<attribute name="besetzungsausgabe_nurbesetzte" type="boolean"/>
	<attribute name="besetzungsausgabe_bemerkung" type="boolean"/>
	<attribute name="besetzungsausgabe_sortierungrolle" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_RolleSortierung"/>
	<attribute name="besetzungsausgabe_sortierungbesetzung" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_BesetzungSortierung"/>
	<attribute name="otherfeld" type="string"/>
	<attribute name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFeld"/>
	<attribute name="uppercase" type="boolean"/>
	<attribute name="separatorbefore" type="string"/>
	<attribute name="textbefore" type="string"/>
	<attribute name="textafter" type="string"/>
	<attribute name="lineBreakType" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="lineBreakTypeBefore" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="emptyReplacement" type="string"/>
	<attribute name="formatdatum" type="string"/>
	<attribute name="trennerliste" type="string"/>
	<attribute name="style" type="string"/>
	<attribute name="fontname" type="string"/>
	<attribute name="fontsize" type="double"/>
	<attribute name="fontbold" type="boolean"/>
	<attribute name="fontitalic" type="boolean"/>
	<attribute name="fontunderlinetype" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_FontUnderlineTypeRPT"/>
	<attribute name="tabwidth" type="integer"/>
	<attribute name="tabalignment" type="kok:Aspose_Words_TabAlignment"/>
	<attribute name="feldname" type="string"/>
	<attribute name="repeatSame" type="boolean"/>
</complexType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFormatFeld___ablauffeld">
	<sequence>
		<element name="ablauffeld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFormatFeld" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFormatFeld">
	<all>
	</all>
	<attribute name="formatnamensausgabe" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_PersonRendererFormatRPT"/>
	<attribute name="formatnamensausgabeindividuell" type="string"/>
	<attribute name="formatablaufart" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufartAusgabeEnum"/>
	<attribute name="formatraum" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_RaumausgabeEnum"/>
	<attribute name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFeld"/>
	<attribute name="uppercase" type="boolean"/>
	<attribute name="separatorbefore" type="string"/>
	<attribute name="textbefore" type="string"/>
	<attribute name="textafter" type="string"/>
	<attribute name="lineBreakType" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="lineBreakTypeBefore" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="emptyReplacement" type="string"/>
	<attribute name="formatdatum" type="string"/>
	<attribute name="trennerliste" type="string"/>
	<attribute name="style" type="string"/>
	<attribute name="fontname" type="string"/>
	<attribute name="fontsize" type="double"/>
	<attribute name="fontbold" type="boolean"/>
	<attribute name="fontitalic" type="boolean"/>
	<attribute name="fontunderlinetype" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_FontUnderlineTypeRPT"/>
	<attribute name="tabwidth" type="integer"/>
	<attribute name="tabalignment" type="kok:Aspose_Words_TabAlignment"/>
	<attribute name="feldname" type="string"/>
	<attribute name="repeatSame" type="boolean"/>
</complexType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFeld">
	<restriction base="string">
		<enumeration value="Leer"/> 
		<enumeration value="VonDatum"/> 
		<enumeration value="VonDatumZeit"/> 
		<enumeration value="VonZeit"/> 
		<enumeration value="BisDatum"/> 
		<enumeration value="BisDatumZeit"/> 
		<enumeration value="BisZeit"/> 
		<enumeration value="VonBisDatumZeit"/> 
		<enumeration value="VonBisZeit"/> 
		<enumeration value="Ablaufart"/> 
		<enumeration value="Bezeichnung"/> 
		<enumeration value="Bemerkung"/> 
		<enumeration value="Personen"/> 
		<enumeration value="Raum"/> 
		<enumeration value="Tab"/> 
		<enumeration value="Newline"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_RaumausgabeEnum">
	<restriction base="string">
		<enumeration value="Bezeichnung"/> 
		<enumeration value="DispoansichtBezeichnung"/> 
		<enumeration value="Kuerzel"/> 
		<enumeration value="Veroeffentlichungsbezeichnung"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufartAusgabeEnum">
	<restriction base="string">
		<enumeration value="Bezeichnung"/> 
		<enumeration value="Kuerzel"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Tools_AsposeReport_Framework_Data_1_0_PersonRendererFormatRPT">
	<restriction base="string">
		<enumeration value="Nachname"/> 
		<enumeration value="NachnameVorname"/> 
		<enumeration value="VornameNachname"/> 
		<enumeration value="ZwangsvornamenkuerzelPunktKuenstlernachname"/> 
		<enumeration value="VornamenskuerzelPunktNachname"/> 
		<enumeration value="Individuell"/> 
	</restriction>
</simpleType>


<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatProduktionXML_ProduktionFormatFeld">
	<all>
		<element name="terminfelder" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormatFeld___feld"  minOccurs="0" maxOccurs="1" />
	</all>
	<attribute name="terminartIDs" type="string"/>
	<attribute name="eckdatumsartID" type="string"/>
	<attribute name="kollektivausgabe_kollektivids" type="string"/>
	<attribute name="kollektivausgabe_orchester" type="boolean"/>
	<attribute name="besetzungsfunktionIds" type="string"/>
	<attribute name="besetzungsgruppeIds" type="string"/>
	<attribute name="formatraum" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_RaumausgabeEnum"/>
	<attribute name="raumausgabe_auswaerts_adresse" type="boolean"/>
	<attribute name="raumausgabe_auswaerts_adresse_separator" type="string"/>
	<attribute name="formatnamensausgabe" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_PersonRendererFormatRPT"/>
	<attribute name="formatnamensausgabeindividuell" type="string"/>
	<attribute name="formatsaalplan" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_SaalplanAusgabeEnum"/>
	<attribute name="scriptplatzhalter" type="string"/>
	<attribute name="ausgabewert" type="boolean"/>
	<attribute name="ausgabeperson" type="boolean"/>
	<attribute name="platzhalter" type="string"/>
	<attribute name="separator" type="string"/>
	<attribute name="felddefinitionid" type="integer"/>
	<attribute name="besetzungsausgabe_rollebezeichnung" type="boolean"/>
	<attribute name="besetzungsausgabe_trennerrollebesetzung" type="string"/>
	<attribute name="besetzungsausgabe_trennerlistebesetzungen" type="string"/>
	<attribute name="besetzungsausgabe_nuraktive" type="boolean"/>
	<attribute name="besetzungsausgabe_nurbesetzte" type="boolean"/>
	<attribute name="besetzungsausgabe_bemerkung" type="boolean"/>
	<attribute name="besetzungsausgabe_sortierungrolle" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_RolleSortierung"/>
	<attribute name="besetzungsausgabe_sortierungbesetzung" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_BesetzungSortierung"/>
	<attribute name="otherfeld" type="string"/>
	<attribute name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatProduktionXML_ProduktionFeld"/>
	<attribute name="uppercase" type="boolean"/>
	<attribute name="separatorbefore" type="string"/>
	<attribute name="textbefore" type="string"/>
	<attribute name="textafter" type="string"/>
	<attribute name="lineBreakType" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="lineBreakTypeBefore" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="emptyReplacement" type="string"/>
	<attribute name="formatdatum" type="string"/>
	<attribute name="trennerliste" type="string"/>
	<attribute name="style" type="string"/>
	<attribute name="fontname" type="string"/>
	<attribute name="fontsize" type="double"/>
	<attribute name="fontbold" type="boolean"/>
	<attribute name="fontitalic" type="boolean"/>
	<attribute name="fontunderlinetype" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_FontUnderlineTypeRPT"/>
	<attribute name="tabwidth" type="integer"/>
	<attribute name="tabalignment" type="kok:Aspose_Words_TabAlignment"/>
	<attribute name="feldname" type="string"/>
	<attribute name="repeatSame" type="boolean"/>
</complexType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatProduktionXML_ProduktionFeld">
	<restriction base="string">
		<enumeration value="Leer"/> 
		<enumeration value="Other"/> 
		<enumeration value="DisponierbarVon"/> 
		<enumeration value="DisponierbarBis"/> 
		<enumeration value="Spielzeit"/> 
		<enumeration value="Raum"/> 
		<enumeration value="Produktionsbezeichnung"/> 
		<enumeration value="Produktionskurzbezeichnung"/> 
		<enumeration value="SzenDienst"/> 
		<enumeration value="Kuenstler"/> 
		<enumeration value="Verkaufseinschraenkungen"/> 
		<enumeration value="VerkaufssystemURL"/> 
		<enumeration value="Platzhalter"/> 
		<enumeration value="Checkliste"/> 
		<enumeration value="Uebertitel"/> 
		<enumeration value="Untertitel"/> 
		<enumeration value="Autoren"/> 
		<enumeration value="LeadingTeam"/> 
		<enumeration value="Zusatz1"/> 
		<enumeration value="Zusatz2"/> 
		<enumeration value="Saalplan"/> 
		<enumeration value="Sparte"/> 
		<enumeration value="Sprache"/> 
		<enumeration value="Sprachbeschreibung"/> 
		<enumeration value="Planungsstatus"/> 
		<enumeration value="Rechte"/> 
		<enumeration value="Newline"/> 
		<enumeration value="Tab"/> 
		<enumeration value="DynamischesFeld"/> 
		<enumeration value="Bild"/> 
		<enumeration value="Koproduktionspartner"/> 
		<enumeration value="Premiere"/> 
		<enumeration value="AnzahlVorstellungen"/> 
		<enumeration value="Termine"/> 
		<enumeration value="Eckdatum"/> 
		<enumeration value="Kollektivbeteiligung"/> 
		<enumeration value="Kostentraeger"/> 
		<enumeration value="VorstellungBeginnVorgabe"/> 
		<enumeration value="VorstellungEndeVorgabe"/> 
	</restriction>
</simpleType>


<complexType name="System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormatFeld___feld">
	<sequence>
		<element name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormatFeld" minOccurs="0" maxOccurs="unbounded"/>
	</sequence>
</complexType>

<complexType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFormatFeld">
	<all>
		<element name="ablauffelder" type="kok:System_Collections_Generic_List_1__HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatAblaufXML_AblaufFormatFeld___ablauffeld"  minOccurs="0" maxOccurs="1" />
		<element name="produktionfeld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatProduktionXML_ProduktionFormatFeld" minOccurs="0" maxOccurs="1"/>
	</all>
	<attribute name="formattermindatum" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Data_1_0_Data_TerminZeitpunktRPT_plus_FormatDatum"/>
	<attribute name="formatterminuhrzeit" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Data_1_0_Data_TerminZeitpunktRPT_plus_FormatUhrzeit"/>
	<attribute name="besetzungeninzeitabschnittenausgeben" type="string"/>
	<attribute name="formatabonnement" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_AbonnementAusgabe"/>
	<attribute name="showortbeiraumauswaerts" type="boolean"/>
	<attribute name="trennerortraum" type="string"/>
	<attribute name="raumausgabe_nur_spielstaetten" type="boolean"/>
	<attribute name="raumausgabe_nur_erster" type="boolean"/>
	<attribute name="formatterminart" type="string"/>
	<attribute name="formattermin" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminausgabeEnum"/>
	<attribute name="besetzungsausgabe_nurpublizierte" type="string"/>
	<attribute name="besetzungsausgabe_zeiten" type="boolean"/>
	<attribute name="kollektivausgabeeinteilungszustand" type="string"/>
	<attribute name="kollektivausgabe_nurpublizierte" type="boolean"/>
	<attribute name="formatkollektiv" type="string"/>
	<attribute name="kollektivids" type="string"/>
	<attribute name="tagesbemerkungdefinitionid" type="integer"/>
	<attribute name="ablaufartids" type="string"/>
	<attribute name="formatkalendertag" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_KalendertagAusgabeEnum"/>
	<attribute name="besetzungsfunktionIds" type="string"/>
	<attribute name="besetzungsgruppeIds" type="string"/>
	<attribute name="formatraum" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_RaumausgabeEnum"/>
	<attribute name="raumausgabe_auswaerts_adresse" type="boolean"/>
	<attribute name="raumausgabe_auswaerts_adresse_separator" type="string"/>
	<attribute name="formatnamensausgabe" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_PersonRendererFormatRPT"/>
	<attribute name="formatnamensausgabeindividuell" type="string"/>
	<attribute name="formatsaalplan" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_SaalplanAusgabeEnum"/>
	<attribute name="scriptplatzhalter" type="string"/>
	<attribute name="ausgabewert" type="boolean"/>
	<attribute name="ausgabeperson" type="boolean"/>
	<attribute name="platzhalter" type="string"/>
	<attribute name="separator" type="string"/>
	<attribute name="felddefinitionid" type="integer"/>
	<attribute name="besetzungsausgabe_rollebezeichnung" type="boolean"/>
	<attribute name="besetzungsausgabe_trennerrollebesetzung" type="string"/>
	<attribute name="besetzungsausgabe_trennerlistebesetzungen" type="string"/>
	<attribute name="besetzungsausgabe_nuraktive" type="boolean"/>
	<attribute name="besetzungsausgabe_nurbesetzte" type="boolean"/>
	<attribute name="besetzungsausgabe_bemerkung" type="boolean"/>
	<attribute name="besetzungsausgabe_sortierungrolle" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_RolleSortierung"/>
	<attribute name="besetzungsausgabe_sortierungbesetzung" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_BesetzungSortierung"/>
	<attribute name="otherfeld" type="string"/>
	<attribute name="feld" type="kok:HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFeld"/>
	<attribute name="uppercase" type="boolean"/>
	<attribute name="separatorbefore" type="string"/>
	<attribute name="textbefore" type="string"/>
	<attribute name="textafter" type="string"/>
	<attribute name="lineBreakType" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="lineBreakTypeBefore" type="kok:HG_Tools_AsposeReport_Framework_Logic_FormatXML_LineBreakType"/>
	<attribute name="emptyReplacement" type="string"/>
	<attribute name="formatdatum" type="string"/>
	<attribute name="trennerliste" type="string"/>
	<attribute name="style" type="string"/>
	<attribute name="fontname" type="string"/>
	<attribute name="fontsize" type="double"/>
	<attribute name="fontbold" type="boolean"/>
	<attribute name="fontitalic" type="boolean"/>
	<attribute name="fontunderlinetype" type="kok:HG_Tools_AsposeReport_Framework_Data_1_0_FontUnderlineTypeRPT"/>
	<attribute name="tabwidth" type="integer"/>
	<attribute name="tabalignment" type="kok:Aspose_Words_TabAlignment"/>
	<attribute name="feldname" type="string"/>
	<attribute name="repeatSame" type="boolean"/>
</complexType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminFeld">
	<restriction base="string">
		<enumeration value="Leer"/> 
		<enumeration value="Other"/> 
		<enumeration value="Von"/> 
		<enumeration value="Bis"/> 
		<enumeration value="VonBis"/> 
		<enumeration value="VonBisPub"/> 
		<enumeration value="VonPub"/> 
		<enumeration value="BisPub"/> 
		<enumeration value="Raum"/> 
		<enumeration value="Terminart"/> 
		<enumeration value="Terminstatus"/> 
		<enumeration value="Produktionskurzbezeichnung"/> 
		<enumeration value="Terminbezeichnung"/> 
		<enumeration value="TerminUntertitel"/> 
		<enumeration value="SzenDienst"/> 
		<enumeration value="Kollektiv"/> 
		<enumeration value="TagesplanBemerkung"/> 
		<enumeration value="DispobemerkungExtern"/> 
		<enumeration value="DispobemerkungIntern"/> 
		<enumeration value="Abonnements"/> 
		<enumeration value="Verkaufsinformation"/> 
		<enumeration value="Kuenstler"/> 
		<enumeration value="Ablauf"/> 
		<enumeration value="ProbenZeitabschnitte"/> 
		<enumeration value="Produktion"/> 
		<enumeration value="Produktionfeld"/> 
		<enumeration value="Vorstellungsnummer"/> 
		<enumeration value="Verkaufseinschraenkungen"/> 
		<enumeration value="VerkaufssystemURL"/> 
		<enumeration value="Platzhalter"/> 
		<enumeration value="Checkliste"/> 
		<enumeration value="Uebertitel"/> 
		<enumeration value="Autoren"/> 
		<enumeration value="LeadingTeam"/> 
		<enumeration value="Zusatz1"/> 
		<enumeration value="Zusatz2"/> 
		<enumeration value="Saalplan"/> 
		<enumeration value="Sparte"/> 
		<enumeration value="Sprache"/> 
		<enumeration value="Sprachbeschreibung"/> 
		<enumeration value="TerminDatum"/> 
		<enumeration value="KalenderFeiertag"/> 
		<enumeration value="KalenderSonstigertag"/> 
		<enumeration value="KalenderFerientag"/> 
		<enumeration value="TerminNummer"/> 
		<enumeration value="Tagesbemerkung"/> 
		<enumeration value="Planungsstatus"/> 
		<enumeration value="Rechte"/> 
		<enumeration value="Newline"/> 
		<enumeration value="Tab"/> 
		<enumeration value="DynamischesFeld"/> 
		<enumeration value="Bild"/> 
		<enumeration value="Pressetitel"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_BesetzungSortierung">
	<restriction base="string">
		<enumeration value="Default"/> 
		<enumeration value="Nachname"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_RolleSortierung">
	<restriction base="string">
		<enumeration value="Sort"/> 
		<enumeration value="OrderProbenplan"/> 
		<enumeration value="OrderInternet_Uebersicht"/> 
		<enumeration value="OrderInternet_Detail_Saison"/> 
		<enumeration value="OrderInternet_Detail_Monat"/> 
		<enumeration value="OrderLeporello"/> 
		<enumeration value="OrderBesetzungszettel"/> 
		<enumeration value="OrderPlakat"/> 
		<enumeration value="OrderInserat"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_SaalplanAusgabeEnum">
	<restriction base="string">
		<enumeration value="Bezeichnung"/> 
		<enumeration value="Kuerzel"/> 
		<enumeration value="KuerzelBezeichnung"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_KalendertagAusgabeEnum">
	<restriction base="string">
		<enumeration value="Bezeichnung"/> 
		<enumeration value="Kuerzel"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_FormatXML_FormatTerminXML_TerminausgabeEnum">
	<restriction base="string">
		<enumeration value="Bezeichnung"/> 
		<enumeration value="Produktionskurzbezeichnung"/> 
		<enumeration value="ProduktionsAlternative"/> 
		<enumeration value="Pressetitel"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Logic_AbonnementAusgabe">
	<restriction base="string">
		<enumeration value="Bezeichnung"/> 
		<enumeration value="Kuerzel"/> 
		<enumeration value="Pressetitel"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Data_1_0_Data_TerminZeitpunktRPT_plus_FormatUhrzeit">
	<restriction base="string">
		<enumeration value="Standard"/> 
		<enumeration value="StandardKurzStundenMinuten"/> 
		<enumeration value="Voll"/> 
		<enumeration value="VollKurzStundenMinuten"/> 
	</restriction>
</simpleType>


<simpleType name="HG_Kokos_event_PeMKBB_AsposeReport_Framework_Data_1_0_Data_TerminZeitpunktRPT_plus_FormatDatum">
	<restriction base="string">
		<enumeration value="None"/> 
		<enumeration value="Standard"/> 
		<enumeration value="TagMonat"/> 
	</restriction>
</simpleType>

</schema>

